*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: rgb(171, 35, 244);
}

#header{
  display: flex;
  background-color: white;
  padding: 1dvh;
  color: rgb(171, 35, 244);
  font-size: 20px;
  padding-left: 5dvh;
  font-weight: bold;

}

#header ul{
  list-style: none;
}

#header ul li{
  list-style: none;
}

#hero{
  padding-top: 10dvh;
  padding: 3dvh;
}

#form{
 padding-left: 10dvh;
 padding-right: 10dvh;
 color: rgb(171, 35, 244);
}

#input{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input input{
  height: 6dvh;
  width: 30dvh;
  border-radius: 5px;
  text-align: center;
  border: none;
  background-color: white;
  color: rgb(171, 35, 244);
  font-size: 16px;

}

#input input::placeholder
{
  color: rgb(171, 35, 244);
  font-size: 12px;
}

select {
  height: 6dvh;
  width: 30dvh;
  text-align: center;
  background-color: white;
  color: rgb(171, 35, 244);
  border-radius: 5px;
  font-size: 16px;

}

#btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3dvh;
}

#btn1{
  color: rgb(171, 35, 244) ;
  background-color: white;
  padding: 1dvh;
  border: 2px rgb(151, 51, 4) solid;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  height: 6dvh;
  width: 30dvh;
  font-size: 16px;
  cursor: pointer;
}

#btn1:hover{
  background-color: rgb(151, 51, 4);
  color: white;
  transition: 0.3s;
}

.text{
  text-align: center;
  padding: 2dvh;
  color: white;
  font-size: 25px;
}

#listHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(151, 51, 4) ;
}

#listHeader ul{
  display: flex;
  list-style: none;
}

#listHeader ul li{
  padding: 1dvh;
  color: white;
  font-size: 20px;
  justify-content: space-around;
  padding: 0 20dvh 0 20dvh;
}

#outputArea{
  justify-content: center;
  align-items: center;
  padding: 2dvh;
  margin-left: 5dvh;
  margin-right: 5dvh;
  padding-bottom: 20dvh;
  background-color: white;
  border-radius: 5px;
  height: auto;
  text-align: center;
}

#outputArea ul{
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  text-align: center;
  list-style: none;
}

#outputArea ul li{
  justify-content: space-between;
  padding: 1dvh;
  color: rgb(151, 51, 4);
  font-size: 16px;

}

p {
  color: rgb(151, 51, 4);
  font-size: 16px;
  text-align: center;
}

.items{
  width: 40%;
  padding: 10dvh;
}

#deleteBtn{
  color: white;
  background-color: rgb(151, 51, 4);
  padding: 1dvh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 768px) {
  #input{
    align-items: center;
    margin-left: 3dvh;
  }

  #input input, select{
    width: 75%;
    margin: 1dvh;
  }

  #input input::placeholder{
    text-align: center;
    padding-left: 1dvh;
  }
  #btn1{
    width: 30%;
  }

  #listHeader ul li{
    padding: 1dvh;
    font-size: 16px;
    padding: 0 4dvh 0 4dvh;
  }



}